.profile{
    margin: 30px auto;
    padding-left: 1%;
}
.content-panels{
    padding: 10px;
    background-color: #fff;
    height: 500px;
    float: left;
    margin: 0px 10px;
}
.left-sidebar{
    width: 20%;
}
.mid-section{
    width: 50%;
    background-color: transparent;
}
.right-sidebar{
    width: 20%;
}
.info{
    padding: 4px;
    border-bottom: 1px solid #c7c7c7;
}
.basic-info{
    height: 85px;
}
.basic-info img{
    height: 80px;
    border-radius: 360px;
    float: left;
}
.basic-info p{
    float: left;
    margin: 20px 20px 5px 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #444444;
}