.profile{
    margin: 30px auto;
    padding-left: 1%;
}
.content-panels{
    padding: 10px;
    background-color: #fff;
    float: left;
    margin: 0px 10px;
    height: auto;
}
.left-sidebar{
    width: 260px;
    position: fixed;
}
.mid-section{
    width: 50%;
    background-color: transparent;
    /* outline: 1px solid #ca74fc; */
    position: relative;
    margin-left: 310px;
}
.right-sidebar{
    width: 20%;
}
/* left sidebar styles */
.info{
    padding: 4px;
}
.basic-info{
    height: 85px;
    border-bottom: 1px solid #c7c7c7;
}
.basic-info img{
    height: 80px;
    border-radius: 6px;
    float: left;
    margin-right: 16px;
}
.basic-info p{
    float: left;
    margin: 5px 5px 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #444444;
    font-size: 14px;
}
.info .heading{
    margin: 20px 20px 5px 5px;
    color: #565656;
    font-size: 16px;
}
.bio{
    border-bottom: 1px solid #c7c7c7;
}
.bio .details{
    margin: 20px 20px 5px 5px;
    line-height: 20px;
    color: #444444;
    font-size: 14px;
}
.info .heading{margin: 20px 20px 20px 5px;}
.links a{
    margin: 5px 15px 5px 5px;
    line-height: 20px;
    text-decoration: none;
    color: #066992;
    font-size: 16px;
    display: block;
}
.links a span{
    margin-right: 6px;
}
/* left sidebar styles */

/* mid section styles */
.mid-section{padding: 0px;}
.mid-section .content-box{
    width: 97%;
    height: auto;
    padding: 10px;
    margin: 0px 0px 8px 0px;
    background-color: #fff;
}