.width-90{
    width: 90%;
}
.avatar{
    height: 65px;
    border-radius: 6px;
    float: left;
    margin-right: 14px;
}
.avatar-section p{
    margin: 0px;
}
.avatar-section p i{
    margin-right: 10px;
    width: 5px;
    color: #f09424;
}
.bio{color: #616161;}
.heading{
    color: #616161 !important;
    font-size: 16px;
    margin: 0px 0px 8px 0px !important;
}
.links a span{
    margin-right: 6px;
    color: #f09424;
}
.leftsidebar-fixed,
.right-sidebar{
    position: fixed;
    width: 285px;
}
.card-heading{
    font-size: 16px;
    margin: 0px;
}
.card-heading-type-2{
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 2px;
}
.row .col.m3 {
    width: 23%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
    color: #616161;
    margin-right: 0px;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover{
    color: #f09424;
}
