
.author-name{
    margin: 0px;
}
.card .card-title {
    display: block;
    line-height: 18px;
    margin-bottom: 4px;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 300px !important;
}
.card .card-action {
    padding: 12px 24px;
}
.read-more-btn{
    float: right;
    font-weight: normal;
}
.post-excerpt{
    overflow: hidden;
    position: relative; 
    font-size: 14px;
    color: #2e2e2e;
    line-height: 1.3em;
    max-height: 3.6em; 
    text-align: justify;  
    margin-top: 10px !important;
}
/* to create '...' put '...' inside content*/
.post-excerpt:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
}
.post-excerpt:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}