
@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 50px;
        line-height: 50px;
    }
}
nav .nav-wrapper {
    position: relative;
    height: 100%;
    margin: 0px auto;
    max-width: 1300px;
}
nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 1.6rem;
    padding: 0;
}
nav ul a {
    font-size: 1.2rem;
    color: #fff;
}