
@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 50px;
        line-height: 50px;
    }
}
nav .nav-wrapper {
    position: relative;
    height: 100%;
    margin: 0px auto;
    max-width: 1300px;
}
nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 1.6rem;
    padding: 0;
}
nav ul a {
    font-size: 1rem !important;
    color: #fff;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
}
.dropdown-content li>a, .dropdown-content li>span {
    padding: 14px 10px;
}
.navlinks li a{
    font-size: 1.2rem;
}
.navlinks li a,
nav .brand-logo{
    color: #565656;
}
.show{
    display: block;
}
.hide{
    display: none;
}