body{
  overflow-x: hidden;
  background-color: #eaeaea;
}
.App {

}
a{
  text-decoration: none;
}
.container{
  margin: 10px auto;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}
.addlink-btn i{
  padding: 8px 20px;
  font-size: 1.6rem;
  color: #4ba79a;
}
.link-label{
  margin: 0px !important;
  padding-bottom: 10px;
  color: #899196;
  text-transform: capitalize;
}
.width-33{width: 40% !important;}
.club-padding{padding: 7px !important;}
.editprofile-heading{
  font-size: 18px;
  color: #899196;
  margin: 0px 0px 8px 0px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
