.panel{
    width: 360px;
    margin: 50px auto;
    background-color: #fff;
    height: auto;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.panel .heading{
    padding: 10px 0px;
    margin: 0px;
    color: #fff;
    background-color: #565656;
    text-align: center;
}
.cred-form{
    padding: 10px;
}
.cred-form label{
    text-align: left;
    font-size: 14px;
    color: #565656;
}
.cred-form input{
    width: 330px;
    margin: 5px 0px 12px 0px;
    height: 32px;
    padding-left: 10px;
    border: 0px;
    background-color: #f1f1f1;
    font-size: 14px;
    outline: 0px;
}
.cred-btn{
    width: 100%;
    margin-top: 10px;
    padding: 12px 0px;
    font-size: 18px;
    border: 0px;
    outline: 0px;
    color: #fff;
    background-color: rgb(77, 191, 191);
    cursor: pointer;
}